@model ClientQuery.Models.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h1>Hi</h1>
        @*@Html.DropDownList("ID", Model.ClientDropdown as SelectList, "Select Client", new {@class = "form-control"})*@
    </div>
</div>
